@model ListDetailInfoViewModel

<div>

    <label>Name:</label>
    <label>@Model.Name</label>
    <br>

    <label>SecondName:</label>
    <label>@Model.SecondName</label>
    <br>

    <label>SurName:</label>
    <label>@Model.Surname</label>
    <br>

    <label>SecondSurName:</label>
    <label>@Model.SecondSurname</label>
    <br>

    <label>ProfilePhotoPath:</label>
    <label>@Model.PhotoPath</label>
    <br>

    <label>BirthDate:</label>
    <label>@Model.BirthDate</label>
    <br>

    <label>JobStartDate:</label>
    <label>@Model.StartDate</label>
    <br>

    <label>JobEndDate:</label>
    <label>@Model.EndDate</label>
    <br>

    <label>CurrentWorking:</label>
    <label>@Model.IsActive</label>
    <br>

    <label>IsTurksh:</label>
    <label>@Model.IsTurkishCitizen</label>
    <br>

    <label>IdentityNo:</label>
    <label>@Model.IdentityNumber</label>
    <br>

    <label>PasaportNo:</label>
    <label>@Model.PassportNumber</label>
    <br>

    <label>ComanyName:</label>
    <label>@ViewBag.CompanyName</label>
    <br>

    <label>DepartmanName:</label>
    <label>@ViewBag.DepartmentName</label>
    <br>

    <label>Adress:</label>
    <label>@ViewBag.AllAdress</label>

</div>
