@{
    Layout = "_EmployeeLayout";
 }


@model ListSummarInfoViewModel

<div>
    <label> Id :</label>
    <label>@Model.Id</label>
    <br>

    <label>Name:</label>
    <label>@Model.Name</label>
    <br>

    <label>SecondName:</label>
    <label>@Model.SecondName</label>
    <br>

    <label>SurName:</label>
    <label>@Model.Surname</label>
    <br>

    <label>SecondSurName:</label>
    <label>@Model.SecondSurname</label>
    <br>

    <label>ProfilePhotoPath:</label>
    <label>@Model.PhotoPath</label>
    <br>

    <label>ComanyName:</label>
    <label>@Model.Company.Name</label>
    <br>

    <label>DepartmanName:</label>
    <label>@Model.Department.Name</label>
    <br>

    <label>Adress:</label>
    <label>@Model.Adress.City</label>
