@{
    Layout = "_LayoutEmployeeSide";
}
@model ListSummarInfoViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="card text-center" style="width: 40rem; height: auto; background-color: transparent; border: 1px none #96CBFF;">

            <div style="margin-top: 15px;">
                <img style="max-width: 40%; height: auto;" src="@Model.PhotoPath" alt="User Photo">
            </div>

            <div class="card-body" style="border-block-end: 3px solid #FF6910;">
                <h5 class="card-title text-light"><strong>User Information</strong></h5>
            </div>

            <ul class="list-group list-group-flush">
                <li style="background-color: transparent; border-block-end: 1px solid #96CBFF" class="list-group-item text-light"><label><strong>Name:</strong></label> @Model.Name @Model.SecondName</li>
                <li style="background-color: transparent; border-block-end: 1px solid #96CBFF" class="list-group-item text-light"><label><strong>Surname:</strong></label> @Model.Surname @Model.SecondSurname</li>
                <li style="background-color: transparent; border-block-end: 1px solid #96CBFF" class="list-group-item text-light"><label><strong>Department Name:</strong></label> @ViewBag.DepartmentName</li>
                <li style="background-color: transparent; border-block-end: 1px solid #96CBFF" class="list-group-item text-light"><label><strong>Address:</strong></label> @Model.Adress</li>
            </ul>


            

        </div>
    </div>
</div>

