@{
    ViewData["Title"] = "DemandAdvance";
    Layout = "_LayoutEmployeeSide";
}

@model List<AdvanceViewModel>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div>
                @* <a asp-action="DemandAdvance" asp-controller="Advance" class="btn btn-primary">Demand Advances</a> *@

                <!-- diğer tüm avansların popupını açacak butonlar -->
                <button id="showAvansApprovedButton" class="btn btn-success">Approved Advances</button>
                <button id="showAvansWaitingButton" class="btn btn-warning">Waiting Advances</button>
                <button id="showAvansDeniedButton" class="btn btn-danger">Denied Advances</button>
            </div> <br />

            <table class="table text-light">
                <thead>
                    <tr>
                        <th>Advance Type</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Request Date</th>
                        <th>Response Date</th>
                        <th>Description</th>
                        <th>Confirm Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var advance in Model)
                    {
                        <tr>
                            <td>@advance.AdvanceType.ToString()</td>
                            <td>@advance.Amount</td>
                            <td>@advance.Currency.ToString()</td>
                            <td>@advance.RequestDate</td>
                            <td>@advance.ResponseDate</td>
                            <td>@advance.Description</td>
                            <td>@advance.ConfirmStatus.ToString()</td>

                        </tr>

                    }
                </tbody>
            </table>


            <!-- Popup içeriği -->
            @* waiting advances *@
            <div id="avansWaitingPopup" class="modalC">
                <div class="modal-contentC">
                    <span class="closeC" onclick="closePopupWaiting()">&times;</span>

                    <h2 class="text-warning text-center"><u>Waiting Advances</u></h2>

                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th>Advance Type</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Request Date</th>
                                <th>Response Date</th>
                                <th>Description</th>
                                <th>Confirm Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var advance in ViewBag.WaitingAdvances)
                            {
                                <tr>
                                    <td>@advance.AdvanceType.ToString()</td>
                                    <td>@advance.Amount</td>
                                    <td>@advance.Currency.ToString()</td>
                                    <td>@advance.RequestDate</td>
                                    <td>@advance.ResponseDate</td>
                                    <td>@advance.Description</td>
                                    <td>@advance.ConfirmStatus.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @* approved advances *@
            <div id="avansApprovedPopup" class="modalC">
                <div class="modal-contentC">
                    <span class="closeC" onclick="closePopupApproved()">&times;</span>

                    <h2 class="text-success text-center "><u>Approved Advances</u></h2>

                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th>Advance Type</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Request Date</th>
                                <th>Response Date</th>
                                <th>Description</th>
                                <th>Confirm Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var advance in ViewBag.ApprovedAdvances)
                            {
                                <tr>
                                    <td>@advance.AdvanceType.ToString()</td>
                                    <td>@advance.Amount</td>
                                    <td>@advance.Currency.ToString()</td>
                                    <td>@advance.RequestDate</td>
                                    <td>@advance.ResponseDate</td>
                                    <td>@advance.Description</td>
                                    <td>@advance.ConfirmStatus.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @* denied advances *@
            <div id="avansDeniedPopup" class="modalC">
                <div class="modal-contentC">
                    <span class="closeC" onclick="closePopupDenied()">&times;</span>

                    <h2 class=" text-center text-danger"><u>Denied Advances</u></h2>
                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th>Advance Type</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Request Date</th>
                                <th>Response Date</th>
                                <th>Description</th>
                                <th>Confirm Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var advance in ViewBag.DeniedAdvances)
                            {
                                <tr>
                                    <td>@advance.AdvanceType.ToString()</td>
                                    <td>@advance.Amount</td>
                                    <td>@advance.Currency.ToString()</td>
                                    <td>@advance.RequestDate</td>
                                    <td>@advance.ResponseDate</td>
                                    <td>@advance.Description</td>
                                    <td>@advance.ConfirmStatus.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    // Waiting Advances Popupı
    document.getElementById('showAvansWaitingButton').onclick = function () {
        openPopupWaiting();
    };
    function openPopupWaiting() {
        document.getElementById('avansWaitingPopup').style.display = 'block';
    }
    function closePopupWaiting() {
        document.getElementById('avansWaitingPopup').style.display = 'none';
    }

    // Approved Advances Popupı
    document.getElementById('showAvansApprovedButton').onclick = function () {
        openPopupApproved();
    };
    function openPopupApproved() {
        document.getElementById('avansApprovedPopup').style.display = 'block';
    }
    function closePopupApproved() {
        document.getElementById('avansApprovedPopup').style.display = 'none';
    }

    // Denied Advances Popupı
    document.getElementById('showAvansDeniedButton').onclick = function () {
        openPopupDenied();
    };
    function openPopupDenied() {
        document.getElementById('avansDeniedPopup').style.display = 'block';
    }
    function closePopupDenied() {
        document.getElementById('avansDeniedPopup').style.display = 'none';
    }

</script>
