
@model List<ListEmployeeViewModel>

<style>
    body{
        font-family: Calibri;
    }    
    table {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    th, td {
        vertical-align: middle; 
        color:white;
    }

    th {
        background-color: #3498db;
        color: white;
    }

    img {
        width: 100px; 
        height: auto;
    }

    .actions-btns {
        
        justify-content: space-around;
        align-items: center; 
    }

    .btn-detail {
        background-color: #2ecc71;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px; 
        transition: background-color 0.3s;
    }

    .btn-update {
        background-color: #e67e22;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .btn-detail:hover,
        .btn-update:hover {
            background-color: #27ae60; 
        }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name Surname</th>
            <th>Company</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <img src="@user.PhotoPath" alt="User Photo" />
                </td>
                <td>@user.Name @user.SecondName<br />@user.Surname @user.SecondSurname</td>
                <td>@user.Company.Name</td>
                <td>@user.Department.Name</td>
                <td class="actions-btns">
                    <a asp-area="Admin" asp-controller="AdminEmployee" asp-action="UpdateEmployee" asp-route-id="@user.Id" class="btn btn-update">Update</a>
                    <a asp-area="Admin" asp-controller="AdminEmployee" asp-action="DetailsEmployee" asp-route-id="@user.Id" class="btn btn-detail">Detail</a>
                </td>

            </tr>

        }
    </tbody>
</table>



