@{
    ViewData["Title"] = "ListAllExpenses";
}

@model List<ExpenseViewModel>


<div class="container">
    <div>
        <!-- diğer tüm  popupını açacak butonlar -->
        <button class="btn btn-warning" onclick="showExpenses('Waiting')">Waiting Expense</button>
        <button class="btn btn-success" onclick="showExpenses('Approved')">Approved Expense</button>
        <button class="btn btn-danger" onclick="showExpenses('Denied')">Denied Expense</button>
        <button class="btn btn-primary" onclick="showExpenses('All')">All Expense</button>
    </div> <br />

    <table class="table text-light" id="WaitingTable">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Expense Name</th>
                <th>Request Price</th>
                <th>Currency</th>
                <th>Request Date</th>
                <th>File</th>
                <th>Confirm Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@ViewBag.UserName</td>
                    <td>@item.ExpenseName</td>
                    <td>@item.RequestPrice</td>
                    <td>@item.Currency.ToString()</td>
                    <td>@item.RequestDate</td>
                    <td>
                        <a href="@Url.Content(item.FilePath)" target="_blank">View File</a>
                    </td>
                    <td>@item.ConfirmStatus.ToString()</td>
                    <td>
                        <div style="display:flex">
                            <a asp-action="ApprovedExpense" asp-controller="AdminEmployee" asp-route-id="@item.Id" class="btn btn-success" style="margin:5px;">Approve</a>
                            <a asp-action="RejectExpense" asp-controller="AdminEmployee" asp-route-id="@item.Id" class="btn btn-danger" style="margin:5px">Reject</a>

                        </div>
                    </td>

                </tr>

            }
        </tbody>
    </table>


    <!-- Popup içeriği -->
    @* approved advances *@
    <div>

        <table class="table text-light" id="ApprovedTable">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Expense Name</th>
                    <th>Request Price</th>
                    <th>Currency</th>
                    <th>Request Date</th>
                    <th>Response Date</th>
                    <th>File</th>
                    <th>Confirm Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ApprovedExpenses)
                {
                    <tr>
                        <td>@ViewBag.UserName</td>
                        <td>@item.ExpenseName</td>
                        <td>@item.RequestPrice</td>
                        <td>@item.Currency.ToString()</td>
                        <td>@item.RequestDate</td>
                        <td>@item.ReplyDate</td>
                        <td> <a href="@Url.Content(item.FilePath)" target="_blank">View File</a></td>
                        <td>@item.ConfirmStatus.ToString()</td>
                        

                    </tr>

                }
            </tbody>
        </table>

    </div>

    @* denied advances *@
    <div>
        <table class="table text-light" id="DeniedTable">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Expense Name</th>
                    <th>Request Price</th>
                    <th>Currency</th>
                    <th>Request Date</th>
                    <th>Response Date</th>
                    <th>File</th>
                    <th>Confirm Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.DeniedExpenses)
                {
                    <tr>
                        <td>@ViewBag.UserName</td>
                        <td>@item.ExpenseName</td>
                        <td>@item.RequestPrice</td>
                        <td>@item.Currency.ToString()</td>
                        <td>@item.RequestDate</td>
                        <td>@item.ReplyDate</td>
                        <td> <a href="@Url.Content(item.FilePath)" target="_blank">View File</a></td>
                        <td>@item.ConfirmStatus.ToString()</td>
                       
                    </tr>

                }
            </tbody>
        </table>
    </div>


    @* all advances *@
    <div>
        <table class="table text-light" id="AllTable">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Expense Name</th>
                    <th>Request Price</th>
                    <th>Currency</th>
                    <th>Request Date</th>
                    <th>Response Date</th>
                    <th>File</th>
                    <th>Confirm Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.AllExpenses)
                {
                    <tr>
                        <td>@ViewBag.UserName</td>
                        <td>@item.ExpenseName</td>
                        <td>@item.RequestPrice</td>
                        <td>@item.Currency.ToString()</td>
                        <td>@item.RequestDate</td>
                        <td>@item.ReplyDate</td>
                        <td> <a href="@Url.Content(item.FilePath)" target="_blank">View File</a></td>
                        <td>@item.ConfirmStatus.ToString()</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>



<script>
    // Tabloları gizleme fonksiyonu
    function hideTables() {
        document.getElementById('AllTable').style.display = 'none';
        document.getElementById('WaitingTable').style.display = 'none';
        document.getElementById('ApprovedTable').style.display = 'none';
        document.getElementById('DeniedTable').style.display = 'none';
    }

    // İzin türlerine göre tabloyu gösterme
    function showExpenses(status) {
        hideTables();
        var tableId = status + 'Table';
        document.getElementById(tableId).style.display = 'table';
    }

    // Sayfa yüklendiğinde default olarak "Waiting Advances" tablosunu gösterme
    document.addEventListener("DOMContentLoaded", function () {
        showExpenses('Waiting');
    });
</script>

